
.vscode/settings.json
fat32.disk
nyufile-autograder/refoutputs/8.2
nyufile-autograder/refoutputs/8.1
nyufile-autograder/refoutputs/7.7
nyufile-autograder/refoutputs/7.6
nyufile-autograder/refoutputs/7.5
nyufile-autograder/refoutputs/7.4
nyufile-autograder/refoutputs/7.3
nyufile-autograder/refoutputs/7.2
nyufile-autograder/refoutputs/7.1
nyufile-autograder/refoutputs/6.1
nyufile-autograder/refoutputs/5.1
nyufile-autograder/refoutputs/4.3
nyufile-autograder/refoutputs/4.2
nyufile-autograder/refoutputs/4.1
nyufile-autograder/refoutputs/3.4
nyufile-autograder/refoutputs/3.3
nyufile-autograder/refoutputs/3.2
nyufile-autograder/refoutputs/3.1
nyufile-autograder/refoutputs/2.4
nyufile-autograder/refoutputs/2.3
nyufile-autograder/refoutputs/2.2
nyufile-autograder/refoutputs/2.1
nyufile-autograder/refoutputs/1.2
nyufile-autograder/refoutputs/1.1
nyufile-autograder/reffiles/NOTHING.TXT
nyufile-autograder/reffiles/MILE1.TXT
nyufile-autograder/reffiles/MILE.TXT
nyufile-autograder/reffiles/FILE2.TXT
nyufile-autograder/reffiles/FILE1.TXT
nyufile-autograder/reffiles/FILE.TXT
nyufile-autograder/README
nyufile-autograder/nyufile.zip
nyufile-autograder/myoutputs/8.2
nyufile-autograder/myoutputs/8.1
nyufile-autograder/myoutputs/7.7
nyufile-autograder/myoutputs/7.6
nyufile-autograder/myoutputs/7.5
nyufile-autograder/myoutputs/7.4
nyufile-autograder/myoutputs/7.3
nyufile-autograder/myoutputs/7.2
nyufile-autograder/myoutputs/7.1
nyufile-autograder/myoutputs/6.1
nyufile-autograder/myoutputs/5.1
nyufile-autograder/myoutputs/4.3
nyufile-autograder/myoutputs/4.2
nyufile-autograder/myoutputs/4.1
nyufile-autograder/myoutputs/3.4
nyufile-autograder/myoutputs/3.3
nyufile-autograder/myoutputs/3.2
nyufile-autograder/myoutputs/3.1
nyufile-autograder/myoutputs/2.4
nyufile-autograder/myoutputs/2.3
nyufile-autograder/myoutputs/2.2
nyufile-autograder/myoutputs/2.1
nyufile-autograder/myoutputs/1.2
nyufile-autograder/myoutputs/1.1
nyufile-autograder/gradeit.sh
nyufile-autograder/disks/disk4
nyufile-autograder/disks/disk3
nyufile-autograder/disks/disk2
nyufile-autograder/disks/disk1
nyufile-autograder/disk
nyufile-autograder/checksum.txt
nyufile-autograder.tar.xz
hexdump.hex
nyufile-autograder/nyufile.o
hex
l
case3hexdump.txt
test/name
test/name.c
test/a.out
test/hello.txt
test/hola.txt
test/sha.c
fat32copy.disk
before
after2
after
disk4
